# === SECURE MASTER KEY ===
MY_USER_ID=7283309847

# === SOLANA WALLET ===
# Ensure your Solana Private Key is in Base58 format
SOLANA_PRIVATE_KEY=your_private_key_here
SOL_WALLET_ADDRESS=your_public_sol_address_here

# === TELEGRAM ===
TELEGRAM_TOKEN=your_bot_token_from_botfather