# === SECURE MASTER KEY ===
MY_USER_ID=7283309847

# === SOLANA WALLET ===
# Ensure your Solana Private Key is in Base58 format
SOLANA_PRIVATE_KEY=your_private_key_here
SOL_WALLET_ADDRESS=SOLANA_WALLET_ADDRESS=8cVkzCeMpn7Lg67yr5GgRQWpSJvbXTRBoaLvQtYoCL9m


# === TELEGRAM ===
TELEGRAM_TOKEN=your_bot_token_from_botfather# --- SOLANA UPGRADE ---
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_WALLET_ADDRESS=SOLANA_WALLET_ADDRESS=8cVkzCeMpn7Lg67yr5GgRQWpSJvbXTRBoaLvQtYoCL9m

SOLANA_PRIVATE_KEY=Your_Private_Key_Here  # Keep this secret!
NETWORK_TYPE=solana
